<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    제목 : <input type="text" id="title"><br>
    내용 : <textarea id="content" rows="10" cols="30"></textarea><br>
    글쓴이 : <input type="text" id="writer" th:value="${session.user.name}"><br>

    <button id="write">완료</button>
    <button id="back">뒤로가기</button>
<input type="hidden" th:value="${session.user.mno}" id="mno">
</body>
</html>